.loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

[data-theme='dark'] .loading-fullscreen {
  background: rgba(0, 0, 0, 0.9);
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
